Repository l2beat/l2beat, pull requests merged in 2024-08, with the labels that each got.

#4685 Remove finality swan, optopia
  packages/config/src/projects/layer2s/optopia.ts
  packages/config/src/projects/layer2s/swan.ts
Labels: trivial

#4688 Trivial discovery updates 08/01
  packages/backend/discovery/base/ethereum/diffHistory.md
  packages/backend/discovery/base/ethereum/discovered.json
  packages/backend/discovery/cronoszkevm/ethereum/config.jsonc
  packages/backend/discovery/cronoszkevm/ethereum/diffHistory.md
  packages/backend/discovery/cronoszkevm/ethereum/discovered.json
  packages/backend/discovery/fraxtal/ethereum/diffHistory.md
  packages/backend/discovery/fraxtal/ethereum/discovered.json
  packages/backend/discovery/shared-zk-stack/ethereum/diffHistory.md
  packages/backend/discovery/shared-zk-stack/ethereum/discovered.json
  packages/backend/discovery/transporter/ethereum/diffHistory.md
  packages/backend/discovery/transporter/ethereum/discovered.json
  packages/backend/discovery/worldcoin/ethereum/diffHistory.md
  packages/backend/discovery/worldcoin/ethereum/discovered.json
  packages/backend/discovery/worldcoin/optimism/config.jsonc
  packages/backend/discovery/worldcoin/optimism/diffHistory.md
  packages/backend/discovery/worldcoin/optimism/discovered.json
  packages/backend/discovery/zksync/ethereum/diffHistory.md
  packages/backend/discovery/zksync/ethereum/discovered.json
  packages/backend/discovery/zksync2/ethereum/diffHistory.md
  packages/backend/discovery/zksync2/ethereum/discovered.json
Labels: trivial-discovery

#4686 Remove manual ordering, add warning to cronos zkevm
  packages/config/src/projects/layer2s/cronoszkevm.ts
  packages/frontend/src/utils/orderByTvl.ts
Labels: website, trivial

#4693 Add Cheese inreview
  packages/config/src/projects/layer3s/cheese.ts
  packages/config/src/projects/layer3s/index.ts
  packages/config/src/tokens/generated.json
  packages/config/src/tokens/tokens.jsonc
  packages/config/src/verification/projects.json
  packages/frontend/scripts/logos/tinifiedLogos.json
  packages/frontend2/public/icons/cheese.png
Labels: research

#4689 Add pmon inreview + TVL
  packages/config/src/projects/layer3s/index.ts
  packages/config/src/projects/layer3s/pmon.ts
  packages/config/src/tokens/generated.json
  packages/config/src/tokens/tokens.jsonc
  packages/config/src/verification/projects.json
  packages/frontend/scripts/logos/tinifiedLogos.json
  packages/frontend2/public/icons/pmon.png
Labels: research

#4657 Sharp verifier upgrade
  packages/backend/discovery/_templates/shared-sharp-verifier/CpuFrilessVerifier/template.jsonc
  packages/backend/discovery/_templates/shared-sharp-verifier/DeprecatedVerifier/template.jsonc
  packages/backend/discovery/_templates/shared-sharp-verifier/Verifier/template.jsonc
  packages/backend/discovery/_templates/shared-sharp-verifier/ignoreCompute/template.jsonc
  packages/backend/discovery/shared-sharp-verifier/ethereum/config.jsonc
  packages/backend/discovery/shared-sharp-verifier/ethereum/diffHistory.md
  packages/backend/discovery/shared-sharp-verifier/ethereum/discovered.json
  packages/config/src/projects/layer2s/starknet.ts
  packages/config/src/verification/ethereum/verified.json
  packages/config/src/verification/projects.json
Labels: research

#4707 Nova l2 contracts and gov section
  packages/backend/discovery/nova/nova/config.jsonc
  packages/backend/discovery/nova/nova/diffHistory.md
  packages/backend/discovery/nova/nova/discovered.json
  packages/config/src/projects/layer2s/arbitrum.ts
  packages/config/src/projects/layer2s/nova.ts
  packages/config/src/projects/layer2s/templates/orbitStack.ts
Labels: research

#4715 Fix Nova explorer link
  packages/config/src/projects/layer2s/nova.ts
Labels: trivial

#4714 Trivial discovery updates 08/05
  packages/backend/discovery/chainport/ethereum/diffHistory.md
  packages/backend/discovery/chainport/ethereum/discovered.json
  packages/backend/discovery/eigenda/ethereum/diffHistory.md
  packages/backend/discovery/eigenda/ethereum/discovered.json
  packages/backend/discovery/fraxtal/ethereum/diffHistory.md
  packages/backend/discovery/fraxtal/ethereum/discovered.json
  packages/backend/discovery/parallel/ethereum/config.jsonc
  packages/backend/discovery/parallel/ethereum/diffHistory.md
  packages/backend/discovery/parallel/ethereum/discovered.json
  packages/backend/discovery/socket/ethereum/config.jsonc
  packages/backend/discovery/socket/ethereum/diffHistory.md
  packages/backend/discovery/socket/ethereum/discovered.json
  packages/backend/discovery/termstructure/ethereum/diffHistory.md
  packages/backend/discovery/termstructure/ethereum/discovered.json
  packages/backend/discovery/transporter/ethereum/diffHistory.md
  packages/backend/discovery/transporter/ethereum/discovered.json
  packages/backend/discovery/worldcoin/optimism/config.jsonc
  packages/backend/discovery/worldcoin/optimism/diffHistory.md
  packages/backend/discovery/worldcoin/optimism/discovered.json
  packages/backend/discovery/zklinknova/linea/diffHistory.md
  packages/backend/discovery/zklinknova/linea/discovered.json
  packages/config/scripts/socket/index.ts
  packages/config/scripts/socket/outfiles/socket-crawl-copypasta.txt
  packages/config/scripts/socket/outfiles/socket-crawl-result.json
  packages/config/src/projects/bridges/socket.ts
  packages/config/src/projects/layer2s/fraxtal.ts
  packages/config/src/projects/layer2s/parallel.ts
  packages/config/src/projects/layer2s/termstructure.ts
  packages/config/src/verification/ethereum/verified.json
  packages/config/src/verification/projects.json
Labels: trivial-discovery

#4718 Add ANDY token to Blast
  packages/config/src/tokens/generated.json
  packages/config/src/tokens/tokens.jsonc
Labels: research

#4716 Add mbtc and remove other mTokens from Manta
  packages/config/src/tokens/generated.json
  packages/config/src/tokens/tokens.jsonc
Labels: research

#4719 Starknet: Discover historical program hashes
  packages/backend/discovery/starknet/ethereum/config.jsonc
  packages/backend/discovery/starknet/ethereum/diffHistory.md
  packages/backend/discovery/starknet/ethereum/discovered.json
Labels: research

#4721 Move Zircuit in review
  packages/config/src/projects/layer2s/zircuit.ts
Labels: research

#4722 Fix zircuit escrow
  packages/config/src/projects/layer2s/zircuit.ts
Labels: trivial

#4726 Discovery updates 08/06
  packages/backend/discovery/parallel/ethereum/diffHistory.md
  packages/backend/discovery/parallel/ethereum/discovered.json
  packages/backend/discovery/ronin/ethereum/config.jsonc
  packages/backend/discovery/ronin/ethereum/diffHistory.md
  packages/backend/discovery/ronin/ethereum/discovered.json
  packages/backend/discovery/termstructure/ethereum/diffHistory.md
  packages/backend/discovery/termstructure/ethereum/discovered.json
  packages/config/src/projects/bridges/ronin.ts
  packages/config/src/projects/layer2s/parallel.ts
  packages/config/src/verification/ethereum/verified.json
  packages/config/src/verification/linea/verified.json
  packages/config/src/verification/projects.json
Labels: trivial-discovery

#4727 Zk stack upgrade
  packages/backend/discovery/cronoszkevm/ethereum/diffHistory.md
  packages/backend/discovery/cronoszkevm/ethereum/discovered.json
  packages/backend/discovery/shared-zk-stack/ethereum/config.jsonc
  packages/backend/discovery/shared-zk-stack/ethereum/diffHistory.md
  packages/backend/discovery/shared-zk-stack/ethereum/discovered.json
  packages/backend/discovery/zksync2/ethereum/diffHistory.md
  packages/backend/discovery/zksync2/ethereum/discovered.json
  packages/config/src/projects/layer2s/zksyncera.ts
  packages/config/src/verification/ethereum/verified.json
Labels: research

#4729 Handle trivial discovery updates
  packages/backend/discovery/parallel/ethereum/diffHistory.md
  packages/backend/discovery/parallel/ethereum/discovered.json
  packages/backend/discovery/ronin/ethereum/diffHistory.md
  packages/backend/discovery/ronin/ethereum/discovered.json
  packages/backend/discovery/transporter/ethereum/diffHistory.md
  packages/backend/discovery/transporter/ethereum/discovered.json
Labels: trivial-discovery, research

#4736 Trivial discovery updates
  packages/backend/discovery/across-v3/ethereum/diffHistory.md
  packages/backend/discovery/across-v3/ethereum/discovered.json
  packages/backend/discovery/cronoszkevm/ethereum/diffHistory.md
  packages/backend/discovery/cronoszkevm/ethereum/discovered.json
  packages/backend/discovery/eigenda/ethereum/diffHistory.md
  packages/backend/discovery/eigenda/ethereum/discovered.json
  packages/config/src/projects/bridges/acrossV3.ts
  packages/config/src/verification/ethereum/verified.json
Labels: trivial-discovery

#4728 Add Zircuit (full)
  packages/backend/discovery/zircuit/ethereum/config.jsonc
  packages/backend/discovery/zircuit/ethereum/diffHistory.md
  packages/backend/discovery/zircuit/ethereum/discovered.json
  packages/config/src/projects/layer2s/templates/opStack.ts
  packages/config/src/projects/layer2s/zircuit.ts
  packages/config/src/verification/ethereum/verified.json
  packages/frontend2/public/images/architecture/zircuit.png
Labels: research

#4752 Socket and Immutable zkEVM updates
  packages/backend/discovery/immutablezkevm/ethereum/diffHistory.md
  packages/backend/discovery/immutablezkevm/ethereum/discovered.json
  packages/backend/discovery/socket/ethereum/config.jsonc
  packages/backend/discovery/socket/ethereum/diffHistory.md
  packages/backend/discovery/socket/ethereum/discovered.json
  packages/config/scripts/socket/outfiles/socket-crawl-copypasta.txt
  packages/config/scripts/socket/outfiles/socket-crawl-result.json
  packages/config/src/projects/bridges/socket.ts
  packages/config/src/verification/ethereum/verified.json
Labels: trivial-discovery

#4769 Handle trivial updates
  packages/backend/discovery/cbridge/ethereum/diffHistory.md
  packages/backend/discovery/cbridge/ethereum/discovered.json
  packages/backend/discovery/cronoszkevm/ethereum/diffHistory.md
  packages/backend/discovery/cronoszkevm/ethereum/discovered.json
  packages/backend/discovery/shared-polygon-cdk/ethereum/diffHistory.md
  packages/backend/discovery/shared-polygon-cdk/ethereum/discovered.json
Labels: trivial-discovery

#4782 Small update to Zircuit
  packages/backend/discovery/zircuit/ethereum/diffHistory.md
  packages/backend/discovery/zircuit/ethereum/discovered.json
  packages/config/src/verification/ethereum/verified.json
Labels: trivial-discovery

#4783 Update Across
  packages/backend/discovery/across-v3/ethereum/diffHistory.md
  packages/backend/discovery/across-v3/ethereum/discovered.json
Labels: trivial-discovery

#4791 Trivial discovery updates
  packages/backend/discovery/cronoszkevm/ethereum/config.jsonc
  packages/backend/discovery/cronoszkevm/ethereum/diffHistory.md
  packages/backend/discovery/cronoszkevm/ethereum/discovered.json
  packages/backend/discovery/edgeless/ethereum/diffHistory.md
  packages/backend/discovery/edgeless/ethereum/discovered.json
  packages/backend/discovery/zksync/ethereum/diffHistory.md
  packages/backend/discovery/zksync/ethereum/discovered.json
  packages/config/src/projects/layer2s/edgeless.ts
Labels: trivial-discovery

#4799 Trivial discovery updates 15.08
  packages/backend/discovery/across-v3/ethereum/diffHistory.md
  packages/backend/discovery/across-v3/ethereum/discovered.json
  packages/backend/discovery/base/ethereum/diffHistory.md
  packages/backend/discovery/base/ethereum/discovered.json
  packages/backend/discovery/cronoszkevm/ethereum/diffHistory.md
  packages/backend/discovery/cronoszkevm/ethereum/discovered.json
  packages/backend/discovery/polygon-pos/ethereum/config.jsonc
  packages/backend/discovery/polygon-pos/ethereum/diffHistory.md
  packages/backend/discovery/polygon-pos/ethereum/discovered.json
  packages/backend/discovery/shared-polygon-cdk/ethereum/diffHistory.md
  packages/backend/discovery/shared-polygon-cdk/ethereum/discovered.json
  packages/backend/discovery/zksync/ethereum/diffHistory.md
  packages/backend/discovery/zksync/ethereum/discovered.json
  packages/config/src/projects/bridges/acrossV3.ts
  packages/config/src/verification/ethereum/verified.json
Labels: trivial-discovery

#4800 Add L3ParentChain badge for OP
  packages/config/src/projects/badges/index.ts
  packages/frontend2/public/images/badges/Optimism.png
Labels: trivial

#4804 Trivial discovery updates
  packages/backend/discovery/parallel/ethereum/diffHistory.md
  packages/backend/discovery/parallel/ethereum/discovered.json
  packages/backend/discovery/transporter/ethereum/diffHistory.md
  packages/backend/discovery/transporter/ethereum/discovered.json
Labels: trivial-discovery

#4847 Transporter configs update
  packages/backend/discovery/transporter/ethereum/diffHistory.md
  packages/backend/discovery/transporter/ethereum/discovered.json
Labels: trivial-discovery

#4856 Discovery updates
  packages/backend/discovery/shared-polygon-cdk/ethereum/diffHistory.md
  packages/backend/discovery/shared-polygon-cdk/ethereum/discovered.json
  packages/backend/discovery/shared-zk-stack/ethereum/diffHistory.md
  packages/backend/discovery/shared-zk-stack/ethereum/discovered.json
  packages/backend/discovery/socket/ethereum/config.jsonc
  packages/backend/discovery/socket/ethereum/diffHistory.md
  packages/backend/discovery/socket/ethereum/discovered.json
  packages/backend/discovery/xai/arbitrum/diffHistory.md
  packages/backend/discovery/xai/arbitrum/discovered.json
  packages/config/scripts/socket/outfiles/socket-crawl-copypasta.txt
  packages/config/scripts/socket/outfiles/socket-crawl-result.json
  packages/config/src/projects/bridges/socket.ts
  packages/config/src/verification/arbitrum/verified.json
  packages/config/src/verification/ethereum/verified.json
Labels: trivial-discovery

#4864 Add DACs BLS keys discovery
  packages/backend/discovery/edgeless/ethereum/diffHistory.md
  packages/backend/discovery/edgeless/ethereum/discovered.json
  packages/backend/discovery/hychain/ethereum/diffHistory.md
  packages/backend/discovery/hychain/ethereum/discovered.json
  packages/backend/discovery/l3x/arbitrum/diffHistory.md
  packages/backend/discovery/l3x/arbitrum/discovered.json
  packages/backend/discovery/playblock/nova/diffHistory.md
  packages/backend/discovery/playblock/nova/discovered.json
  packages/backend/discovery/popapex/arbitrum/diffHistory.md
  packages/backend/discovery/popapex/arbitrum/discovered.json
  packages/backend/discovery/real/ethereum/diffHistory.md
  packages/backend/discovery/real/ethereum/discovered.json
  packages/backend/discovery/sanko/arbitrum/diffHistory.md
  packages/backend/discovery/sanko/arbitrum/discovered.json
  packages/config/src/projects/layer2s/hychain.ts
Labels: trivial-discovery

#4872 Trivial updates 23.08
  packages/backend/discovery/cronoszkevm/ethereum/diffHistory.md
  packages/backend/discovery/cronoszkevm/ethereum/discovered.json
  packages/backend/discovery/shared-polygon-cdk/ethereum/diffHistory.md
  packages/backend/discovery/shared-polygon-cdk/ethereum/discovered.json
  packages/backend/discovery/shared-zk-stack/ethereum/diffHistory.md
  packages/backend/discovery/shared-zk-stack/ethereum/discovered.json
  packages/backend/discovery/sxnetwork/ethereum/config.jsonc
  packages/backend/discovery/sxnetwork/ethereum/diffHistory.md
  packages/backend/discovery/sxnetwork/ethereum/discovered.json
Labels: trivial-discovery

#4885 Add AZERO to associated
  packages/config/src/projects/layer2s/alephzero.ts
Labels: trivial

#4886 Update Arbitrum
  packages/backend/discovery/arbitrum/ethereum/diffHistory.md
  packages/backend/discovery/arbitrum/ethereum/discovered.json
Labels: trivial-discovery

#4906 Add Soneium (upcoming)
  packages/config/src/projects/layer2s/index.ts
  packages/config/src/projects/layer2s/soneium.ts
  packages/config/src/verification/projects.json
  packages/frontend/scripts/logos/tinifiedLogos.json
  packages/frontend/scripts/logos/tinifyLogos.ts
  packages/frontend2/public/icons/soneium.png
Labels: trivial

#4916 Add Reya activity
  packages/config/src/projects/layer2s/reya.ts
Labels: trivial

#4918 Socket updates
  packages/backend/discovery/socket/ethereum/config.jsonc
  packages/backend/discovery/socket/ethereum/diffHistory.md
  packages/backend/discovery/socket/ethereum/discovered.json
  packages/config/package.json
  packages/config/scripts/socketconvert/convertedVaults.txt
  packages/config/scripts/socketconvert/index.ts
  packages/config/scripts/socketconvert/input.json
  packages/config/scripts/socketcrawl/index.test.ts
  packages/config/scripts/socketcrawl/index.ts
  packages/config/scripts/socketcrawl/outfiles/socket-crawl-copypasta.txt
  packages/config/scripts/socketcrawl/outfiles/socket-crawl-result.json
  packages/config/scripts/socketcrawl/schema.ts
  packages/config/src/projects/bridges/socket.ts
  packages/config/src/projects/layer2s/kinto.ts
  packages/config/src/projects/layer2s/lyra.ts
  packages/config/src/verification/ethereum/verified.json
Labels: research

#4905 Trivial updates
  packages/backend/discovery/shared-zk-stack/ethereum/diffHistory.md
  packages/backend/discovery/shared-zk-stack/ethereum/discovered.json
  packages/backend/discovery/zircuit/ethereum/diffHistory.md
  packages/backend/discovery/zircuit/ethereum/discovered.json
  packages/config/src/verification/ethereum/verified.json
Labels: trivial-discovery

#4924 Update Polygon PoS Discovery
  packages/backend/discovery/polygon-pos/ethereum/diffHistory.md
  packages/backend/discovery/polygon-pos/ethereum/discovered.json
  packages/config/src/verification/ethereum/verified.json
Labels: trivial-discovery

#4925 Simplify Polygon Plasma discovery
  packages/backend/discovery/polygon-plasma/ethereum/config.jsonc
  packages/backend/discovery/polygon-plasma/ethereum/diffHistory.md
  packages/backend/discovery/polygon-plasma/ethereum/discovered.json
Labels: trivial-discovery

#4929 Simplify discovery for Polygon PoS
  packages/backend/discovery/polygon-pos/ethereum/config.jsonc
  packages/backend/discovery/polygon-pos/ethereum/diffHistory.md
  packages/backend/discovery/polygon-pos/ethereum/discovered.json
Labels: trivial-discovery

#4932 Change Lyra assets to new Derive brand
  packages/config/src/projects/layer2s/lyra.ts
  packages/frontend/scripts/logos/tinifiedLogos.json
  packages/frontend2/public/icons/derive.png
  packages/frontend2/public/icons/lyra.png
Labels: trivial

#4930 Trivial discovery updates 08/29
  packages/backend/discovery/deversifi/ethereum/config.jsonc
  packages/backend/discovery/deversifi/ethereum/diffHistory.md
  packages/backend/discovery/deversifi/ethereum/discovered.json
  packages/backend/discovery/real/ethereum/config.jsonc
  packages/backend/discovery/real/ethereum/diffHistory.md
  packages/backend/discovery/real/ethereum/discovered.json
  packages/backend/discovery/ronin/ethereum/config.jsonc
  packages/backend/discovery/ronin/ethereum/diffHistory.md
  packages/backend/discovery/ronin/ethereum/discovered.json
  packages/backend/discovery/shared-eigenlayer/ethereum/config.jsonc
  packages/backend/discovery/shared-eigenlayer/ethereum/diffHistory.md
  packages/backend/discovery/shared-eigenlayer/ethereum/discovered.json
  packages/config/src/projects/bridges/ronin.ts
  packages/config/src/projects/layer2s/rhinofi.ts
  packages/config/src/verification/ethereum/verified.json
Labels: trivial-discovery

#4940 Starknet core contract update
  packages/backend/discovery/starknet/ethereum/diffHistory.md
  packages/backend/discovery/starknet/ethereum/discovered.json
  packages/config/src/projects/layer2s/starknet.ts
  packages/config/src/verification/ethereum/verified.json
Labels: trivial-discovery

#4945 Add script to extract starknet programhashes from given tx
  packages/l2b/src/commands/StarknetProgramHashes.ts
  packages/l2b/src/commands/index.ts
  packages/l2b/src/commands/types.ts
  packages/l2b/src/implementations/starknetProgramHashes.ts
Labels: code

#4943 Add chainconfig and tokens to Gravity L2
  packages/config/src/projects/layer2s/galxegravity.ts
  packages/config/src/tokens/generated.json
  packages/config/src/tokens/tokens.jsonc
Labels: research

#4949 Add mode tokens bridged via XLink
  packages/config/src/tokens/generated.json
  packages/config/src/tokens/tokens.jsonc
Labels: research

#4952 Update plasma bridge
  packages/backend/discovery/polygon-plasma/ethereum/diffHistory.md
  packages/backend/discovery/polygon-plasma/ethereum/discovered.json
  packages/config/src/verification/arbitrum/verified.json
  packages/config/src/verification/ethereum/verified.json
Labels: trivial-discovery

#4948 Trivial discovery updates 08/30
  packages/backend/discovery/amarok/ethereum/diffHistory.md
  packages/backend/discovery/amarok/ethereum/discovered.json
  packages/backend/discovery/deversifi/ethereum/diffHistory.md
  packages/backend/discovery/deversifi/ethereum/discovered.json
  packages/backend/discovery/optimism/ethereum/diffHistory.md
  packages/backend/discovery/optimism/ethereum/discovered.json
  packages/backend/discovery/ronin/ethereum/diffHistory.md
  packages/backend/discovery/ronin/ethereum/discovered.json
  packages/config/src/verification/ethereum/verified.json
Labels: trivial-discovery

#4951 Add bugbuster full
  packages/backend/discovery/bugbuster/optimism/config.jsonc
  packages/backend/discovery/bugbuster/optimism/diffHistory.md
  packages/backend/discovery/bugbuster/optimism/discovered.json
  packages/backend/discovery/honeypot/ethereum/diffHistory.md
  packages/backend/discovery/honeypot/ethereum/discovered.json
  packages/config/src/projects/layer3s/bugbuster.ts
  packages/config/src/verification/optimism/verified.json
Labels: research

#4955 Celestia namespace fix
  packages/config/src/projects/other/da-beat/blockchain/celestia/celestia.ts
Labels: trivial
