Repository l2beat/l2beat, pull requests merged in 2024-05, with the labels that each got.

#3549 Xai update: Ignore pools count in watch mode
  packages/backend/discovery/xai/arbitrum/config.jsonc
  packages/backend/discovery/xai/arbitrum/diffHistory.md
  packages/backend/discovery/xai/arbitrum/discovered.json
  packages/backend/discovery/xai/arbitrum/meta.json
Labels: trivial-discovery

#3566 Orderly update: Ignore fees in watch mode
  packages/backend/discovery/orderly/ethereum/config.jsonc
  packages/backend/discovery/orderly/ethereum/diffHistory.md
  packages/backend/discovery/orderly/ethereum/discovered.json
Labels: trivial-discovery

#3565 Kinto update: Signer replaced
  packages/backend/discovery/kinto/ethereum/diffHistory.md
  packages/backend/discovery/kinto/ethereum/discovered.json
Labels: trivial-discovery

#3550 pNetwork update: Ignore inflation related time values in token contract
  packages/backend/discovery/pNetwork/ethereum/config.jsonc
  packages/backend/discovery/pNetwork/ethereum/diffHistory.md
  packages/backend/discovery/pNetwork/ethereum/discovered.json
Labels: trivial-discovery

#3558 Fix tag of SuperchainProxyAdminOwners
  packages/config/src/layer2s/mode.ts
  packages/config/src/layer2s/zora.ts
Labels: trivial

#3557 Add Metal (full)
  packages/backend/discovery/metal/ethereum/diffHistory.md
  packages/backend/discovery/metal/ethereum/discovered.json
  packages/config/src/layer2s/metal.ts
  packages/config/src/verification/ethereum/verified.json
Labels: research

#3567 Add weETH.mode to mode
  packages/config/src/tokens/generated.json
  packages/config/src/tokens/tokens.jsonc
Labels: trivial

#3552 Update Sygma destination token description
  packages/config/src/bridges/sygma.ts
Labels: trivial

#3570 Parallel update: SequencerInbox value changed
  packages/backend/discovery/metal/ethereum/config.jsonc
  packages/backend/discovery/metal/ethereum/diffHistory.md
  packages/backend/discovery/metal/ethereum/discovered.json
  packages/backend/discovery/parallel/ethereum/diffHistory.md
  packages/backend/discovery/parallel/ethereum/discovered.json
  packages/backend/discovery/parallel/ethereum/meta.json
  packages/backend/discovery/zora/ethereum/config.jsonc
  packages/backend/discovery/zora/ethereum/diffHistory.md
  packages/backend/discovery/zora/ethereum/discovered.json
  packages/backend/discovery/zora/ethereum/meta.json
  packages/config/src/verification/ethereum/verified.json
Labels: trivial-discovery

#3581 Add swell pre-launch discovery
  packages/backend/discovery/swell/ethereum/config.jsonc
  packages/backend/discovery/swell/ethereum/diffHistory.md
  packages/backend/discovery/swell/ethereum/discovered.json
  packages/backend/discovery/swell/ethereum/meta.json
  packages/config/src/onChainProjects.ts
Labels: trivial-discovery

#3575 BlobstreamX on Base and Arbitrum update: new Prover, tests added
  packages/backend/discovery/blobstream/arbitrum/config.jsonc
  packages/backend/discovery/blobstream/arbitrum/diffHistory.md
  packages/backend/discovery/blobstream/arbitrum/discovered.json
  packages/backend/discovery/blobstream/arbitrum/meta.json
  packages/backend/discovery/blobstream/base/config.jsonc
  packages/backend/discovery/blobstream/base/diffHistory.md
  packages/backend/discovery/blobstream/base/discovered.json
  packages/backend/discovery/blobstream/base/meta.json
  packages/backend/discovery/specialCases.test.ts
Labels: research

#3560 Aztecconnect update: Rollup ownership renounced
  packages/backend/discovery/aztecconnect/ethereum/config.jsonc
  packages/backend/discovery/aztecconnect/ethereum/diffHistory.md
  packages/backend/discovery/aztecconnect/ethereum/discovered.json
  packages/config/src/layer2s/aztecconnect.ts
Labels: research

#3589 Kinto update: New Inbox implementation
  packages/backend/discovery/kinto/ethereum/diffHistory.md
  packages/backend/discovery/kinto/ethereum/discovered.json
  packages/config/src/verification/ethereum/verified.json
Labels: trivial-discovery

#3577 Add Redstone (full)
  packages/backend/discovery/redstone/ethereum/config.jsonc
  packages/backend/discovery/redstone/ethereum/diffHistory.md
  packages/backend/discovery/redstone/ethereum/discovered.json
  packages/backend/discovery/redstone/ethereum/meta.json
  packages/config/src/common/ScalingProjectDataAvailability.ts
  packages/config/src/common/dataAvailability.ts
  packages/config/src/projects/layer2s/index.ts
  packages/config/src/projects/layer2s/redstone.ts
  packages/config/src/verification/ethereum/verified.json
  packages/config/src/verification/projects.json
  packages/frontend/scripts/logos/tinifiedLogos.json
  packages/frontend/src/static/icons/redstone.png
Labels: research

#3600 add ZF, cSTONE tokens
  packages/config/src/tokens/generated.json
  packages/config/src/tokens/tokens.jsonc
Labels: trivial

#3607 Add ZERO token to Linea
  packages/config/src/tokens/generated.json
  packages/config/src/tokens/tokens.jsonc
Labels: trivial

#3561 Aztec v1: Ownership renounced review, Aztecconnect small changes
  packages/backend/discovery/aztec/ethereum/diffHistory.md
  packages/backend/discovery/aztec/ethereum/discovered.json
  packages/backend/discovery/aztecconnect/ethereum/config.jsonc
  packages/backend/discovery/aztecconnect/ethereum/diffHistory.md
  packages/backend/discovery/aztecconnect/ethereum/discovered.json
  packages/backend/discovery/aztecconnect/ethereum/meta.json
  packages/config/src/projects/layer2s/aztecV1.ts
  packages/config/src/projects/layer2s/aztecconnect.ts
Labels: research

#3612 Add MODE token to mode L2
  packages/config/src/tokens/generated.json
  packages/config/src/tokens/tokens.jsonc
Labels: trivial

#3520 Socket update: New plugs, new vaults
  packages/backend/discovery/socket/ethereum/config.jsonc
  packages/backend/discovery/socket/ethereum/diffHistory.md
  packages/backend/discovery/socket/ethereum/discovered.json
  packages/backend/discovery/socket/ethereum/meta.json
  packages/config/scripts/socket/index.ts
  packages/config/src/projects/bridges/socket-vaults.json
  packages/config/src/projects/bridges/socket.ts
  packages/config/src/projects/layer2s/reya.ts
  packages/config/src/verification/ethereum/verified.json
Labels: research

#3616 Add usdc (socket) as ebv to Reya
  packages/config/src/projects/layer2s/reya.ts
  packages/config/src/tokens/generated.json
  packages/config/src/tokens/tokens.jsonc
Labels: trivial

#3624 Rss3 update: Ignore fee params in watch mode
  packages/backend/discovery/rss3/ethereum/config.jsonc
  packages/backend/discovery/rss3/ethereum/diffHistory.md
  packages/backend/discovery/rss3/ethereum/discovered.json
Labels: trivial-discovery

#3627 Orderly update: Gas limit raised
  packages/backend/discovery/orderly/ethereum/diffHistory.md
  packages/backend/discovery/orderly/ethereum/discovered.json
Labels: trivial-discovery

#3626 Kinto update: l2AllowList settable
  packages/backend/discovery/kinto/ethereum/diffHistory.md
  packages/backend/discovery/kinto/ethereum/discovered.json
  packages/config/src/verification/ethereum/verified.json
  packages/config/src/verification/projects.json
Labels: trivial-discovery

#3629 Redstone update: Multisig signers added
  packages/backend/discovery/redstone/ethereum/diffHistory.md
  packages/backend/discovery/redstone/ethereum/discovered.json
  packages/config/src/projects/layer2s/redstone.ts
Labels: trivial-discovery

#3275 Add worldcoin discovery
  packages/backend/discovery/worldcoin/ethereum/config.jsonc
  packages/backend/discovery/worldcoin/ethereum/diffHistory.md
  packages/backend/discovery/worldcoin/ethereum/discovered.json
  packages/backend/discovery/worldcoin/ethereum/meta.json
  packages/backend/discovery/worldcoin/optimism/config.jsonc
  packages/backend/discovery/worldcoin/optimism/diffHistory.md
  packages/backend/discovery/worldcoin/optimism/discovered.json
  packages/backend/discovery/worldcoin/optimism/meta.json
  packages/config/src/onChainProjects.ts
Labels: research

#3640 Update State update description
  packages/frontend/src/pages/scaling/finality/props/getScalingFinalityColumnsConfig.tsx
Labels: trivial

#3641 fix orbitstack DA template: DATA_ON_CHAIN
  packages/config/src/common/riskView.ts
  packages/config/src/projects/layer2s/templates/orbitStack.ts
Labels: code

#3655 Swell update: Whitelist tokens for farming
  packages/backend/discovery/swell/ethereum/diffHistory.md
  packages/backend/discovery/swell/ethereum/discovered.json
Labels: trivial-discovery

#3658 Add token to Base: Renzo ezETH
  packages/config/src/tokens/generated.json
  packages/config/src/tokens/tokens.jsonc
Labels: trivial

#3664 Add STG to optimism and arbitrum
  packages/config/src/tokens/generated.json
  packages/config/src/tokens/tokens.jsonc
Labels: trivial

#3656 Orderly update: Decrease gaslimit
  packages/backend/discovery/orderly/ethereum/diffHistory.md
  packages/backend/discovery/orderly/ethereum/discovered.json
Labels: trivial-discovery

#3657 Fraxtal update: Signer changed
  packages/backend/discovery/fraxtal/ethereum/diffHistory.md
  packages/backend/discovery/fraxtal/ethereum/discovered.json
Labels: trivial-discovery

#3671 Add FRIEND token to Base
  packages/config/src/tokens/generated.json
  packages/config/src/tokens/tokens.jsonc
Labels: trivial

#3673 Add Arbitrum native tokens
  packages/config/src/tokens/generated.json
  packages/config/src/tokens/tokens.jsonc
Labels: trivial

#3625 Add-bob-full
  packages/backend/discovery/bob/ethereum/config.jsonc
  packages/backend/discovery/bob/ethereum/diffHistory.md
  packages/backend/discovery/bob/ethereum/discovered.json
  packages/backend/discovery/bob/ethereum/meta.json
  packages/config/src/projects/layer2s/bob.ts
  packages/config/src/tokens/generated.json
  packages/config/src/tokens/tokens.jsonc
  packages/config/src/verification/ethereum/verified.json
Labels: research

#3679 Degen chain update: delayBlocks raised 1000x
  packages/backend/discovery/degen/base/diffHistory.md
  packages/backend/discovery/degen/base/discovered.json
  packages/backend/discovery/degen/base/meta.json
Labels: trivial-discovery

#3681 Metis update: Ignore Sequencing rewards in watch mode
  packages/backend/discovery/metis/ethereum/config.jsonc
  packages/backend/discovery/metis/ethereum/diffHistory.md
  packages/backend/discovery/metis/ethereum/discovered.json
  packages/backend/discovery/metis/ethereum/meta.json
Labels: trivial-discovery

#3680 PoP Apex update: delayBlock increased by 1000x
  packages/backend/discovery/popapex/arbitrum/diffHistory.md
  packages/backend/discovery/popapex/arbitrum/discovered.json
  packages/backend/discovery/popapex/arbitrum/meta.json
Labels: trivial-discovery

#3684 Reya update: Challenge period increased to 6d 8h
  packages/backend/discovery/reya/ethereum/diffHistory.md
  packages/backend/discovery/reya/ethereum/discovered.json
  packages/backend/discovery/reya/ethereum/meta.json
Labels: trivial-discovery

#3690 Archive Canvas Connect
  packages/config/src/projects/layer2s/canvasconnect.ts
Labels: trivial

#3693 Swell update: Tokens whitelisted
  packages/backend/discovery/swell/ethereum/diffHistory.md
  packages/backend/discovery/swell/ethereum/discovered.json
  packages/backend/discovery/swell/ethereum/meta.json
Labels: trivial-discovery

#3702 Add challenge period to orbitstackL2 template (in riskview tooltip)
  packages/config/src/common/riskView.ts
  packages/config/src/projects/layer2s/templates/orbitStack.ts
Labels: trivial

#3712 Kinto update: New signer in RollupOwner
  packages/backend/discovery/kinto/ethereum/diffHistory.md
  packages/backend/discovery/kinto/ethereum/discovered.json
Labels: trivial-discovery

#3610 Add cyber full
  packages/backend/discovery/cyber/ethereum/config.jsonc
  packages/backend/discovery/cyber/ethereum/diffHistory.md
  packages/backend/discovery/cyber/ethereum/discovered.json
  packages/backend/discovery/cyber/ethereum/meta.json
  packages/config/scripts/checkRpc.ts
  packages/config/src/common/ScalingProjectDataAvailability.ts
  packages/config/src/common/dataAvailability.ts
  packages/config/src/projects/layer2s/cyber.ts
  packages/config/src/projects/layer2s/index.ts
  packages/config/src/verification/ethereum/verified.json
  packages/config/src/verification/projects.json
  packages/frontend/scripts/logos/tinifiedLogos.json
  packages/frontend/src/static/icons/cyber.png
  packages/frontend/src/static/icons/cyberconnect.png
  packages/frontend/src/static/images/architecture/cyber.png
Labels: research

#3699 Optimism update: Synthetix signer replaced
  packages/backend/discovery/optimism/ethereum/diffHistory.md
  packages/backend/discovery/optimism/ethereum/discovered.json
Labels: trivial-discovery

#3639 Add architecture diagrams, update aevo diagram to show data commitments
  packages/frontend/src/static/images/architecture/kinto.png
  packages/frontend/src/static/images/architecture/lyra.png
  packages/frontend/src/static/images/architecture/parallel.png
  packages/frontend/src/static/images/architecture/reya.png
Labels: trivial, research

#3724 Configjson updates
  packages/backend/discovery/_templates/orbitstack/RollupProxy/shape/arbitrum_RollupProxy.p.sol
  packages/backend/discovery/_templates/orbitstack/RollupProxy/shape/kinto_RollupProxy.p.sol
  packages/backend/discovery/_templates/orbitstack/RollupProxy/template.jsonc
  packages/backend/discovery/_templates/orbitstack/SequencerInbox/shape/degen_SequencerInbox.sol
  packages/backend/discovery/_templates/orbitstack/SequencerInbox/shape/popapex_SequencerInbox.sol
  packages/backend/discovery/_templates/orbitstack/SequencerInbox/template.jsonc
  packages/backend/discovery/arbitrum/ethereum/config.jsonc
  packages/backend/discovery/arbitrum/ethereum/diffHistory.md
  packages/backend/discovery/arbitrum/ethereum/discovered.json
  packages/backend/discovery/degen/base/config.jsonc
  packages/backend/discovery/degen/base/diffHistory.md
  packages/backend/discovery/degen/base/discovered.json
  packages/backend/discovery/deri/arbitrum/config.jsonc
  packages/backend/discovery/deri/arbitrum/diffHistory.md
  packages/backend/discovery/deri/arbitrum/discovered.json
  packages/backend/discovery/kinto/ethereum/config.jsonc
  packages/backend/discovery/kinto/ethereum/diffHistory.md
  packages/backend/discovery/kinto/ethereum/discovered.json
  packages/backend/discovery/nova/ethereum/config.jsonc
  packages/backend/discovery/nova/ethereum/diffHistory.md
  packages/backend/discovery/nova/ethereum/discovered.json
  packages/backend/discovery/parallel/ethereum/config.jsonc
  packages/backend/discovery/parallel/ethereum/diffHistory.md
  packages/backend/discovery/parallel/ethereum/discovered.json
  packages/backend/discovery/popapex/arbitrum/config.jsonc
  packages/backend/discovery/popapex/arbitrum/diffHistory.md
  packages/backend/discovery/popapex/arbitrum/discovered.json
  packages/backend/discovery/rari/arbitrum/config.jsonc
  packages/backend/discovery/rari/arbitrum/diffHistory.md
  packages/backend/discovery/rari/arbitrum/discovered.json
  packages/backend/discovery/reya/ethereum/config.jsonc
  packages/backend/discovery/reya/ethereum/diffHistory.md
  packages/backend/discovery/reya/ethereum/discovered.json
  packages/backend/discovery/xai/arbitrum/config.jsonc
  packages/backend/discovery/xai/arbitrum/diffHistory.md
  packages/backend/discovery/xai/arbitrum/discovered.json
Labels: trivial

#3731 Xai updates: Minor SentryReferee changes
  packages/backend/discovery/xai/arbitrum/diffHistory.md
  packages/backend/discovery/xai/arbitrum/discovered.json
  packages/config/src/verification/arbitrum/verified.json
  packages/config/src/verification/ethereum/verified.json
  packages/config/src/verification/projects.json
Labels: trivial-discovery

#3735 Cyber update: Resolver refund 100%, Multisig signers added
  packages/backend/discovery/cyber/ethereum/diffHistory.md
  packages/backend/discovery/cyber/ethereum/discovered.json
  packages/config/src/projects/layer2s/cyber.ts
Labels: trivial-discovery

#3734 Kinto update: hardfork 4
  packages/backend/discovery/kinto/ethereum/diffHistory.md
  packages/backend/discovery/kinto/ethereum/discovered.json
Labels: trivial-discovery

#3741 Kroma update: spETH escrow
  packages/backend/discovery/kroma/ethereum/config.jsonc
  packages/backend/discovery/kroma/ethereum/diffHistory.md
  packages/backend/discovery/kroma/ethereum/discovered.json
  packages/config/src/projects/layer2s/kroma.ts
  packages/config/src/tokens/generated.json
  packages/config/src/tokens/tokens.jsonc
  packages/config/src/verification/ethereum/verified.json
Labels: research

#3719 Make LRTs and L1-collateralized LayerZero assets EBV
  packages/config/src/tokens/generated.json
  packages/config/src/tokens/tokens.jsonc
Labels: research

#3748 Arbitrum update: Scheduled txs for SecurityCouncil members
  packages/backend/discovery/arbitrum/ethereum/diffHistory.md
  packages/backend/discovery/arbitrum/ethereum/discovered.json
Labels: trivial-discovery

#3747 Kroma update: Ignore vault tokens and spETH totalSupply in watch mode
  packages/backend/discovery/kroma/ethereum/config.jsonc
  packages/backend/discovery/kroma/ethereum/diffHistory.md
  packages/backend/discovery/kroma/ethereum/discovered.json
Labels: trivial-discovery

#3754 Add Lido wstETH escrow to scroll
  packages/backend/discovery/scroll/ethereum/config.jsonc
  packages/backend/discovery/scroll/ethereum/diffHistory.md
  packages/backend/discovery/scroll/ethereum/discovered.json
  packages/config/src/projects/layer2s/scroll.ts
  packages/config/src/verification/ethereum/verified.json
Labels: research

#3755 Arbitrum updates: New SecurityCouncil Cohort
  packages/backend/discovery/arbitrum/arbitrum/diffHistory.md
  packages/backend/discovery/arbitrum/arbitrum/discovered.json
  packages/backend/discovery/arbitrum/ethereum/diffHistory.md
  packages/backend/discovery/arbitrum/ethereum/discovered.json
  packages/backend/discovery/nova/ethereum/diffHistory.md
  packages/backend/discovery/nova/ethereum/discovered.json
Labels: trivial-discovery

#3757 Loopring: UniversalAgent added to AgentRegistry
  packages/backend/discovery/loopring/ethereum/diffHistory.md
  packages/backend/discovery/loopring/ethereum/discovered.json
Labels: trivial-discovery

#3762 Xai updates: Ignore halving emissions in watch mode
  packages/backend/discovery/xai/arbitrum/config.jsonc
  packages/backend/discovery/xai/arbitrum/diffHistory.md
  packages/backend/discovery/xai/arbitrum/discovered.json
Labels: trivial-discovery

#3729 Socket update: New Lyra vaults
  packages/backend/discovery/socket/ethereum/config.jsonc
  packages/backend/discovery/socket/ethereum/diffHistory.md
  packages/backend/discovery/socket/ethereum/discovered.json
  packages/config/scripts/socket/index.ts
  packages/config/src/projects/bridges/socket-vaults.json
  packages/config/src/projects/bridges/socket.ts
  packages/config/src/tokens/generated.json
  packages/config/src/tokens/tokens.jsonc
  packages/config/src/verification/ethereum/verified.json
Labels: trivial-discovery

#3761 Polynetwork update: Pause EthCrossChainManager
  packages/backend/discovery/polynetwork/ethereum/config.jsonc
  packages/backend/discovery/polynetwork/ethereum/diffHistory.md
  packages/backend/discovery/polynetwork/ethereum/discovered.json
Labels: trivial-discovery

#3744 ImmutableX update: StarkEx 4.0.1
  packages/backend/discovery/immutablex/ethereum/config.jsonc
  packages/backend/discovery/immutablex/ethereum/diffHistory.md
  packages/backend/discovery/immutablex/ethereum/discovered.json
  packages/config/src/projects/layer2s/immutablex.ts
  packages/config/src/verification/ethereum/verified.json
Labels: trivial-discovery

#3777 Fix reya explorer URL
  packages/config/src/projects/layer2s/reya.ts
Labels: trivial

#3799 Socket update: New plug, new owner Kinto Multisig
  packages/backend/discovery/socket/ethereum/config.jsonc
  packages/backend/discovery/socket/ethereum/diffHistory.md
  packages/backend/discovery/socket/ethereum/discovered.json
  packages/config/src/projects/bridges/socket-crawl-sekuba.json
  packages/config/src/projects/bridges/socket-vaults.json
  packages/config/src/projects/bridges/socket.ts
  packages/config/src/verification/ethereum/verified.json
Labels: trivial-discovery

#3798 Add TOPIA token
  packages/config/src/tokens/generated.json
  packages/config/src/tokens/tokens.jsonc
Labels: trivial

#3804 Metis update: Added signers
  packages/backend/discovery/metis/ethereum/config.jsonc
  packages/backend/discovery/metis/ethereum/diffHistory.md
  packages/backend/discovery/metis/ethereum/discovered.json
Labels: trivial-discovery

#3805 Bob discovery updates
  packages/backend/discovery/bob/ethereum/diffHistory.md
  packages/backend/discovery/bob/ethereum/discovered.json
  packages/config/src/projects/layer2s/bob.ts
Labels: trivial-discovery

#3806 Reya update: New Executor
  packages/backend/discovery/reya/ethereum/config.jsonc
  packages/backend/discovery/reya/ethereum/diffHistory.md
  packages/backend/discovery/reya/ethereum/discovered.json
  packages/config/src/projects/layer2s/reya.ts
Labels: trivial-discovery

#3790 Kinto discovery updates
  packages/backend/discovery/kinto/ethereum/config.jsonc
  packages/backend/discovery/kinto/ethereum/diffHistory.md
  packages/backend/discovery/kinto/ethereum/discovered.json
  packages/config/src/projects/layer2s/kinto.ts
  packages/config/src/verification/ethereum/verified.json
  packages/config/src/verification/projects.json
Labels: trivial-discovery

#3809 Kinto = verified
  packages/backend/discovery/kinto/ethereum/diffHistory.md
  packages/backend/discovery/kinto/ethereum/discovered.json
  packages/config/src/verification/ethereum/verified.json
  packages/config/src/verification/projects.json
Labels: trivial-discovery

#3815 Deri update: Stake amount raised
  packages/backend/discovery/deri/arbitrum/diffHistory.md
  packages/backend/discovery/deri/arbitrum/discovered.json
Labels: trivial-discovery

#3808 New socket script, vaults updated
  packages/backend/discovery/socket/ethereum/config.jsonc
  packages/backend/discovery/socket/ethereum/diffHistory.md
  packages/backend/discovery/socket/ethereum/discovered.json
  packages/config/scripts/socket/index.test.ts
  packages/config/scripts/socket/index.ts
  packages/config/scripts/socket/outfiles/socket-crawl-copypasta.txt
  packages/config/scripts/socket/outfiles/socket-crawl-result.json
  packages/config/scripts/socket/schema.ts
  packages/config/src/projects/bridges/socket.ts
  packages/config/src/verification/ethereum/verified.json
Labels: research, code

#3852 zkLinkNova: Add EBV tokens
  packages/config/src/projects/layer3s/index.ts
  packages/config/src/projects/layer3s/zklinknova.ts
  packages/config/src/tokens/generated.json
  packages/config/src/tokens/tokens.jsonc
Labels: research

#3864 Add optimism tokens by descending TVL
  packages/config/src/tokens/generated.json
  packages/config/src/tokens/tokens.jsonc
Labels: research

#3875 Deri update: Full circle
  packages/backend/discovery/deri/arbitrum/diffHistory.md
  packages/backend/discovery/deri/arbitrum/discovered.json
Labels: trivial-discovery

#3874 Worldcoin update: Ignored more values
  packages/backend/discovery/worldcoin/optimism/config.jsonc
  packages/backend/discovery/worldcoin/optimism/diffHistory.md
  packages/backend/discovery/worldcoin/optimism/discovered.json
Labels: trivial-discovery

#3883 Boba network update: Lightbridge
  packages/backend/discovery/bobanetwork/ethereum/diffHistory.md
  packages/backend/discovery/bobanetwork/ethereum/discovered.json
Labels: trivial-discovery

#3880 Loopring updates
  packages/backend/discovery/loopring/ethereum/config.jsonc
  packages/backend/discovery/loopring/ethereum/diffHistory.md
  packages/backend/discovery/loopring/ethereum/discovered.json
  packages/config/src/projects/layer2s/loopring.ts
Labels: trivial-discovery

#3803 pNetwork update: Attacc for 2 ETH
  packages/backend/discovery/pNetwork/ethereum/diffHistory.md
  packages/backend/discovery/pNetwork/ethereum/discovered.json
Labels: trivial-discovery

#3891 LayerZero on PolygonZkEVM: Ignore LayerZeroMultisig nonce
  packages/backend/discovery/lzomnichain/polygonzkevm/config.jsonc
  packages/backend/discovery/lzomnichain/polygonzkevm/diffHistory.md
  packages/backend/discovery/lzomnichain/polygonzkevm/discovered.json
Labels: trivial-discovery

#3894 Add SxT to upcoming
  packages/config/src/projects/layer2s/index.ts
  packages/config/src/projects/layer2s/sxt.ts
  packages/frontend/scripts/logos/tinifiedLogos.json
  packages/frontend/scripts/logos/tinifyLogos.ts
  packages/frontend/src/static/icons/sxt.png
Labels: research

#3899 Add sanko chain full
  packages/backend/discovery/_templates/orbitstack/SequencerInbox/template.jsonc
  packages/backend/discovery/degen/base/diffHistory.md
  packages/backend/discovery/degen/base/discovered.json
  packages/backend/discovery/popapex/arbitrum/diffHistory.md
  packages/backend/discovery/popapex/arbitrum/discovered.json
  packages/backend/discovery/sanko/arbitrum/config.jsonc
  packages/backend/discovery/sanko/arbitrum/diffHistory.md
  packages/backend/discovery/sanko/arbitrum/discovered.json
  packages/backend/discovery/xai/arbitrum/diffHistory.md
  packages/backend/discovery/xai/arbitrum/discovered.json
  packages/config/src/projects/layer3s/index.ts
  packages/config/src/projects/layer3s/sanko.ts
  packages/config/src/verification/arbitrum/verified.json
  packages/config/src/verification/projects.json
  packages/frontend/scripts/logos/tinifiedLogos.json
  packages/frontend/src/static/icons/sanko.png
  packages/frontend/src/test/images.test.ts
Labels: research

#3916 Fix sanko
  packages/config/src/projects/layer3s/sanko.ts
Labels: code

#3920 Fix sanko agane (rpc this time)
  packages/config/src/projects/layer3s/sanko.ts
Labels: trivial

#3928 Reya update: Admin EOA removed
  packages/backend/discovery/reya/ethereum/diffHistory.md
  packages/backend/discovery/reya/ethereum/discovered.json
  packages/config/src/projects/layer2s/reya.ts
Labels: trivial-discovery

#3931 Paradex update: Bridge upgrade
  packages/backend/discovery/paradex/ethereum/config.jsonc
  packages/backend/discovery/paradex/ethereum/diffHistory.md
  packages/backend/discovery/paradex/ethereum/discovered.json
  packages/config/src/verification/ethereum/verified.json
Labels: research

#3934 Base update: Gas raise to 3x of L1
  packages/backend/discovery/base/ethereum/diffHistory.md
  packages/backend/discovery/base/ethereum/discovered.json
Labels: trivial-discovery

#3939 Add L1OrbitERC20Gateway to Xai escrows
  packages/config/src/projects/layer3s/xai.ts
  packages/config/src/verification/arbitrum/verified.json
Labels: trivial

#3948 Make molten L3 visible on the frontend
  packages/backend/discovery/molten/arbitrum/config.jsonc
  packages/backend/discovery/molten/arbitrum/diffHistory.md
  packages/backend/discovery/molten/arbitrum/discovered.json
  packages/config/src/onChainProjects.ts
  packages/config/src/projects/layer3s/index.ts
  packages/config/src/projects/layer3s/molten.ts
  packages/config/src/tokens/generated.json
  packages/config/src/tokens/tokens.jsonc
  packages/config/src/verification/arbitrum/verified.json
  packages/config/src/verification/projects.json
Labels: trivial-discovery

#3946 Treat config related changes. No onchain change
  packages/backend/discovery/across-v3/ethereum/diffHistory.md
  packages/backend/discovery/across-v3/ethereum/discovered.json
  packages/backend/discovery/blast/ethereum/diffHistory.md
  packages/backend/discovery/blast/ethereum/discovered.json
  packages/backend/discovery/immutablezkevm/ethereum/diffHistory.md
  packages/backend/discovery/immutablezkevm/ethereum/discovered.json
  packages/backend/discovery/kinto/ethereum/diffHistory.md
  packages/backend/discovery/kinto/ethereum/discovered.json
  packages/backend/discovery/kroma/ethereum/diffHistory.md
  packages/backend/discovery/kroma/ethereum/discovered.json
  packages/backend/discovery/polygonzkevm/ethereum/diffHistory.md
  packages/backend/discovery/polygonzkevm/ethereum/discovered.json
  packages/backend/discovery/worldcoin/ethereum/diffHistory.md
  packages/backend/discovery/worldcoin/ethereum/discovered.json
  packages/backend/discovery/worldcoin/optimism/diffHistory.md
  packages/backend/discovery/worldcoin/optimism/discovered.json
Labels: research

#3907 Shared poly cdk update: new zkEVM Rollup created
  packages/backend/discovery/shared-polygon-cdk/ethereum/config.jsonc
  packages/backend/discovery/shared-polygon-cdk/ethereum/diffHistory.md
  packages/backend/discovery/shared-polygon-cdk/ethereum/discovered.json
Labels: trivial-discovery

#3951 Caldera L3s update: Admin EOA removed
  packages/backend/discovery/rari/arbitrum/diffHistory.md
  packages/backend/discovery/rari/arbitrum/discovered.json
  packages/backend/discovery/sanko/arbitrum/diffHistory.md
  packages/backend/discovery/sanko/arbitrum/discovered.json
  packages/config/src/projects/layer3s/rari.ts
  packages/config/src/projects/layer3s/sanko.ts
Labels: trivial-discovery

#3933 Scroll update: ScrollOwner
  packages/backend/discovery/scroll/ethereum/config.jsonc
  packages/backend/discovery/scroll/ethereum/diffHistory.md
  packages/backend/discovery/scroll/ethereum/discovered.json
Labels: trivial-discovery

#3955 Base update: New Guardian signer
  packages/backend/discovery/base/ethereum/diffHistory.md
  packages/backend/discovery/base/ethereum/discovered.json
Labels: trivial-discovery

#3954 Fraxtal update: New signer, post-ecotone fee scalar
  packages/backend/discovery/_templates/opstack/SystemConfig/template.jsonc
  packages/backend/discovery/fraxtal/ethereum/config.jsonc
  packages/backend/discovery/fraxtal/ethereum/diffHistory.md
  packages/backend/discovery/fraxtal/ethereum/discovered.json
  packages/backend/discovery/mint/ethereum/diffHistory.md
  packages/backend/discovery/mint/ethereum/discovered.json
  packages/backend/discovery/zora/ethereum/diffHistory.md
  packages/backend/discovery/zora/ethereum/discovered.json
Labels: trivial-discovery

#3953 Aevo milestone: Token launch
  packages/config/src/projects/layer2s/aevo.ts
Labels: trivial

#3960 Change JOE and STG to EBV
  packages/config/src/tokens/generated.json
  packages/config/src/tokens/tokens.jsonc
Labels: trivial

#3957 Add BAG token
  packages/config/src/tokens/generated.json
  packages/config/src/tokens/tokens.jsonc
Labels: trivial
